.App {
  text-align: center;
}

.App-logo {
  background-image: url('../assets/icons/favicon-196x196.png');
  background-position: center;
  background-size: contain;
  animation: App-logo-spin infinite 20s linear;
  width: 80px;
  height: 80px;
  margin: auto;
}

.App-header {
  background-color: #141517;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
